grant codeBase "file:/home/ian/CollegeCoursework/CPSC-60000/Week1/RMI_HelloWorld/client/target/classes" {
    permission java.security.AllPermission;
};